<!DOCTYPE html>
<html lang="en">
    <head>  
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Font (MontSerrat)-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <!--/------------------->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <title>Home</title>
        <link href="/public/style.css" rel="stylesheet" />
    </head>

    <body>
        <header>
            <div class="center">
                <div class="logo">
                    <h2><a href="/"><span style="font-weight:lighter;">Your</span><b>News</b></a></h2>
                </div><!--logo-->
                <div class="search-form">
                    <form action="/">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input name="search" type="text" placeholder="Search" />
                    </form>
                </div><!--search-form-->
            </div><!--center-->
        </header>
    </body>
    </html>