<html>
    <%- include('partials/header.html')%>

            <section class="trend-news">
                <div class="center">
                    <div class="trend-img">
                       <div class="overlay-trend"></div>
                        <div class="trend-description">
                            <h1>Check the best places to camp in the holidays</h1>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus debitis fugit molestiae iure unde accusamus tenetur ab...</p>
                        </div>
                        <img src="/public/Images/trend-img.jpg" />
                    </div>
                </div>
            </section>

            <section class="latest-news">
                <div class="latest-news-title">
                    <h2>Latest News</h2>
                    <br><br>
                    <div class="center">
                        <div class="latest">
                            <div class="box-last-single">
                                <img src="/public/Images/news-single-img1.jpg"  alt="">
                                <div class="news-content-single">
                                <h3>NATURE</h3>
                                <h2>Is the animal kingdom being threatened?</h2>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam quia libero quaerat veritatis odio optio explicabo itaque ducimus! Consequatur illum quo commodi.</p>
                                <a href="/Animal-Kingdom">KNOW MORE</a>
                            </div>
                            </div>
                            <div class="box-last-single">
                                <img src="/public/Images/news-single-img2.jpg"  alt="">
                                <div class="news-content-single">
                                <h3>HEALTH</h3>
                                <h2>The benefits and harms of drinking coffee</h2>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam quia libero quaerat veritatis odio optio explicabo itaque ducimus! Consequatur illum quo commodi.</p>
                                <a href="/Animal-Kingdom">KNOW MORE</a>
                            </div>
                            </div>
                        </div>
                        <div class="most-read">
                            <h3>MOST READ</h3>
                            <div class="most-read-news">
                                <div class="most-read-news-single">
                                    <img src="/public/Images/most-read-img1.jpg" alt="">
                                    <div class="text-most-read-news-single">
                                        <h4>Travel</h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate perferendis eius, facere eum veniam saepe quasi, dolor.</p>
                                        <a href="/Animal-Kingdom">KNOW MORE</a>
                                    </div>
                                </div>
                                <div class="most-read-news-single">
                                    <img src="/public/Images/most-read-img1.jpg" alt="">
                                    <div class="text-most-read-news-single">
                                        <h4>Travel</h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate perferendis eius, facere eum veniam saepe quasi, dolor.</p>
                                        <a href="/Animal-Kingdom">KNOW MORE</a>
                                    </div>
                                </div>
                                <div class="most-read-news-single">
                                    <img src="/public/Images/most-read-img1.jpg" alt="">
                                    <div class="text-most-read-news-single">
                                        <h4>Travel</h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate perferendis eius, facere eum veniam saepe quasi, dolor.</p>
                                        <a href="/Animal-Kingdom">KNOW MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <%- include('partials/footer.html')%>
        </body>
    </html>