<html>
    <%- include('partials/header.html')%>

            <section class="latest-news">
                <div class="latest-news-title">
                    <h2>You Searched For: </h2>
                    <br><br>
                        <div style="width: 100%;" class="most-read">
                            <h3>-- Results</h3>
                            <div class="most-read-news">
                                <div class="most-read-news-single">
                                    <img src="/public/Images/most-read-img1.jpg" alt="">
                                    <div class="text-most-read-news-single">
                                        <h4>Travel</h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate perferendis eius, facere eum veniam saepe quasi, dolor.</p>
                                        <a href="/Animal-Kingdom">KNOW MORE</a>
                                    </div>
                                </div>
                                <div class="most-read-news-single">
                                    <img src="/public/Images/most-read-img1.jpg" alt="">
                                    <div class="text-most-read-news-single">
                                        <h4>Travel</h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate perferendis eius, facere eum veniam saepe quasi, dolor.</p>
                                        <a href="/Animal-Kingdom">KNOW MORE</a>
                                    </div>
                                </div>
                                <div class="most-read-news-single">
                                    <img src="/public/Images/most-read-img1.jpg" alt="">
                                    <div class="text-most-read-news-single">
                                        <h4>Travel</h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate perferendis eius, facere eum veniam saepe quasi, dolor.</p>
                                        <a href="/Animal-Kingdom">KNOW MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <%- include('partials/footer.html')%>
        </body>
    </html>