<html>
<%- include('partials/header.html')%>

<section class="news">
 <div class="center">
    <div class="single-news">
        <h2>Title</h2>
        <div class="autors-name"><span>By Arthur Nunes</span></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptas, iure maxime sint modi odio quia omnis iusto cumque dignissimos assumenda debitis deleniti unde recusandae blanditiis officiis quos ab quis?</p><h3>Another Title</h3><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At quo fuga dolores temporibus sequi nulla minima quos veniam nemo? Nam repellendus assumenda harum ipsam repellat libero et, ad dolores dolore.</p>
    </div>
    <div class="most-read">
        <h3>MOST READ</h3>
        <div class="most-read-news">
            <div class="most-read-news-single">
                <img src="/public/Images/most-read-img1.jpg" alt="">
                <div class="text-most-read-news-single">
                    <h4>Travel</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate perferendis eius, facere eum veniam saepe quasi, dolor.</p>
                    <a href="/Animal-Kingdom">KNOW MORE</a>
                </div>
            </div>
            <div class="most-read-news-single">
                <img src="/public/Images/most-read-img1.jpg" alt="">
                <div class="text-most-read-news-single">
                    <h4>Travel</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate perferendis eius, facere eum veniam saepe quasi, dolor.</p>
                    <a href="/Animal-Kingdom">KNOW MORE</a>
                </div>
            </div>
            <div class="most-read-news-single">
                <img src="/public/Images/most-read-img1.jpg" alt="">
                <div class="text-most-read-news-single">
                    <h4>Travel</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate perferendis eius, facere eum veniam saepe quasi, dolor.</p>
                    <a href="/Animal-Kingdom">KNOW MORE</a>
                </div>
            </div>
        </div>
    </div>
 </div>
</section>

<%- include('partials/footer.html')%>
    </body>
</html>